.container {
  min-width: 320px;
  max-width: 600px;
  height: calc(100vh - 64px);
  background-color: #0d1929;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  resize: horizontal;
  overflow: auto;
}

.container h1 {
  margin: 20px;
  color: white;
}

.transactions-list {
  margin: 2rem 0;
  height: 80%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-color: #001529 transparent;
  scrollbar-width: thin;
}

.transactions-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.transactions-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.transactions-list::-webkit-scrollbar-thumb {
  background: #001529;
}
