.container {
  min-width: 350px;
  height: calc(100vh - 64px);
  background-color: #0d1929;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container h1 {
  margin: 20px;
  color: white;
}

@media screen and (max-width: 750px) {
  .container {
    min-width: 100%;
  }
}

.transactions-list {
  margin: 2rem 0;
  height: 80%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: tranparent #efefef;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.no-transactions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
}

.transactions-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.transactions-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.transactions-list::-webkit-scrollbar-thumb {
  background: #001529;
}
