@keyframes slideIn {
  from {
    margin-left: -100%;
    opacity: 0;
  }
  to {
    margin-left: 5%;
    opacity: 1;
  }
}

.container {
  width: calc(100% - 10%);
  height: 100px;
  margin: 10px 5% 10px 5%;
  border-radius: 5px;
  background-color: #efefef;
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}
