@keyframes riseUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation-name: riseUp;
  animation-duration: 0.75s;
}

.block {
  padding: 10px;
  border: solid black 5px;
}
